<!-- EJS Header -->
<%- include("partials/header") -%>

<!-- Main content - about me -->

<section class="container py-5 pb-3">
    <div class="row justify-content-start pb-5 center-about-photo">
        <div class="col-md-5 offset-md-1 text-center ">
            <img class="style-about-photo rounded img-fluid" src="/images/rico-profile.JPG" alt="profile-photo">
        </div>
        <div class="col-md-6 offset-md-0 px-5">
            <h1 class="pb-2 py-3 text-center fw-bold ">About me. <span class="text-muted">Who's Rico?</span></h1>
            <p><%= firstParagraph %> </p>
            <p><%= secondParagraph %> </p>
            <p><%= thirdParagraph %> </p>
            <p>For more info visit my LinkedIn page or view my portfolio <a href="portfolio">here</a>.</p>
            <a href="https://www.linkedin.com/in/rico-ngo/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
        </div>
    </div>
</section>
<!-- Short overview - about me -->

<section class="marketing page-section-background2 px-5">

    <div class="row py-5">
        <h1 class="text-center pb-5">My other roles</h1>
        <div class="col-lg-4">
            <i class="fas fa-route fa-7x about-me-icons" ></i>
            <h2 class="py-2 pt-3">Product consultant</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the
                first column.</p>
        </div>
        <div class="col-lg-4">
            <i class="fas fa-hand-holding-medical fa-7x about-me-icons"></i>

            <h2 class="py-2 pt-3">Student Mentor</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second
                column.</p>
        </div class="py-2 ">
        <div class="col-lg-4">
            <i class="fas fa-laptop-code fa-7x about-me-icons"></i>
            <h2 class="py-2 pt-3">A wannabe developer</h2>
            <p>And lastly this, the third column of representative placeholder content.</p>
        </div>

    </div>
</section>

<!-- In-depth about me information -->
<section class="px-5 pb-5">
    
<div class="row featurette pt-5">
    <div class="col-md-7">
      <h2 class="featurette-heading">I like to discover. <span class="text-muted">Traveling around the globe.</span></h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
    </div>
    <div class="col-md-5">
    <img src="/images/rico-travel.JPG" class="rounded bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false" >
    </div>
  </div>

  <hr class="featurette-divider2">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Drum & Bass is the way. <span class="text-muted">Always in for a Liquicity festival.</span></h2>
      <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="/images/rico-music.jpg" class="rounded bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false" >

    </div>
  </div>

  <hr class="featurette-divider2">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Winning with my mates. <span class="text-muted">We're the kings of the 3rd half.</span></h2>
      <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
    </div>
    <div class="col-md-5">
        <img src="/images/rico-football.jpg" class="rounded bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false" >

    </div>
  </div>

<hr class="featurette-divider2">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Studying & working abroad <span class="text-muted">Challenges has no boundaries.</span></h2>
    <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
  </div>
  <div class="col-md-5 order-md-1">
      <img src="/images/rico-studyabroad.jpg" class="rounded bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false" >

  </div>
</div>
</section>

<!-- EJS Footer -->
<%- include("partials/footer") -%>