<!-- EJS Header -->
<%- include("partials/header") -%> 

<!-- Main content -->

<h1>Home</h1>
<p><%= firstParagraph %> </p>

<div>
    <% blogContents.forEach(function(individualPost) { %>

        <div>
            <h1><%= individualPost.title %> </h1>
            <p> <%= individualPost.content.substring(0, 100)+"..." %> 
            <a href="/post/<%= individualPost.title %>">Read more</a> </p>
        </div>

    <% }); %>
    
</div>

<!-- EJS Footer -->
<%- include("partials/footer") -%> 