<!-- EJS Header -->
<%- include("partials/header") -%> 

<!-- Main headliner -->
<section id="title">
<div class="container-fluid main-background">

<h1>Home</h1>
<p><%= firstParagraph %> </p>

</div>
</section>
<!-- Blog content -->

<div>
    <% blogContents.forEach(function(individualPost) { %>

        <div>
            <h1><%= individualPost.title %> </h1>
            <p> <%= individualPost.content.substring(0, 100)+"..." %> 
            <a href="/posts/<%= individualPost._id %>">Read more</a> </p>
        </div>

    <% }); %>
    
</div>

<!-- EJS Footer -->
<%- include("partials/footer") -%> 